[tool.uv.workspace]
members = [
    "celery-app",
    "celery-worker",
    "packages/celery-postgres",
    "packages/celery-redis",
    "packages/celery-tasks",
]

[tool.uv.sources]

[dependency-groups]
dev = [
    "black",
    "flake8",
    "isort",
]

[tool.isort]
profile = "black"
line_length = 120

[tool.black]
line-length = 120
target-version = ["py310"]
